streamlit
pandas
gspread
gspread-dataframe
matplotlib
seaborn
scikit-learn
oauth2client
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit>=1.28
snowflake-snowpark-python>=0.9.0
snowflake-connector-python>=2.8.0

# numpy
# joblib
# plotly
# xgboost
# lightgbm
# tensorflow
# torch

