streamlit
pandas
gspread
gspread-dataframe
matplotlib
seaborn
scikit-learn
oauth2client
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2


# numpy
# joblib
# plotly
# xgboost
# lightgbm
# tensorflow
# torch

